.board-page {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:#FAF7F0; 
}

.board {
  width: 308px;
  height: 309px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:50px ; 
}

.board-score {
  margin-top:50px ; 
  flex: 0.2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:#4A4947; 
  flex-direction: column;
  text-align: center;
}

.board-buttons {
  flex: 0.2;
  width: 100%;
  display: flex ; 
  align-items: center;
  justify-content: center;
}

.board-buttons button{ 
    border:none ; 
    padding:10px 20px ; 
    margin-left: 10px;
    background-color: #4A4947;
    color:white ; 
    border-radius: 5px;
}